[Unit]
Description=Start a mysql in memory database
After=network.target

[Service]
User=david
Group=david
WorkingDirectory=/home/david/workspace/processmaker
ExecStart=docker run --rm -p 3307:3306 -e MYSQL_ROOT_PASSWORD=root --tmpfs=/var/lib/mysql:rw,noexec,nosuid,size=700m --tmpfs=/tmp:rw,noexec,nosuid,size=50m mysql:5.7.23

Restart=on-failure

[Install]
WantedBy=multi-user.target
